
.title{
    font-family: 'Press Start 2P', cursive;
    color: rgb(121, 201, 84);
    border-color: white;
}

.menu{
    background-color: lightblue;
    margin-top: 150px;
	text-align: center;
	height: 100%;
	width: 100%;
}

body{
    background-color: lightblue;
}

.level-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    width: 150px;
}
.level-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.divBtn{
	text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
	width: 150px;
	margin: 0 auto; 
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom:   0;
}

.loseBtn{
	text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
	width: 150px;
	/*margin: 0 auto; */
	display: block;
	position: absolute;
	bottom:   50px;
}

.gameInfo{
	opacity: 0.7;
	position: absolute;
	width:400px;
	height: 200px;
	text-align: left;
	color: white;
	background-color: rgb(84, 78, 78);
	pointer-events: none;
	margin-left: 35%;
	top: 350px;
}

.winLevel{
	opacity: 0;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	padding-top: 50px;
	text-align: center;
	align-items: center;
	font: 300;
	font-family: 'Press Start 2P', cursive;
    color: white;
	border-color: black;
	background-color: rgb(84, 78, 78);
	pointer-events: none;
}

.loseLevel{
	opacity: 0;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 50%;
	left: 40%;
	margin-top: -50px;
	margin-left: -50px;
	padding-top: 50px;
	text-align: center;
	align-items: center;
	font: 300;
	font-family: 'Press Start 2P', cursive;
    color: white;
	border-color: black;
	background-color: rgb(84, 78, 78);
	pointer-events: none;
}

.toolTip{
	opacity: 0;
	position: absolute;
	width: 15%;
	height: 12%;
	top: 500px;
	text-align: center;
	display: block;
	min-height: 125px;
	min-width: 200px;
	max-height: 250px;
	max-width: 400px;
	font-size: 17px;
	
	color: white;
	border-color: white;
	background-color: rgb(84, 78, 78);
	pointer-events: none;
}

.topRightTip{
	opacity: 0;
	position: absolute;
	width: 15%;
	height: 12%;
	top: 200px;
	right: 0px;
	text-align: center;
	display: block;
	min-height: 125px;
	min-width: 200px;
	max-height: 250px;
	max-width: 400px;
	font-size: 17px;
	
	color: white;
	border-color: white;
	background-color: rgb(84, 78, 78);
	pointer-events: none;
}

.game{
    height: 100%;
    width: 100%;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2), 2px 2px 2px rgba(0, 0, 0, .1), -2px -2px 2px rgba(0, 0, 0, .1);
}

.container .box--container {
	width: 50%;
	height: 80%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	animation: rotate 1s ease infinite;
}

.container .box--container .box {
	/* background: #fff; */
	/* overflow: hidden; */
	position: relative;
}

.container .box--container .box .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50px;
	width: 50px;
	background: white ;
	border-radius: 50%;
}

.container .box--container .box .circle--1 {
	animation: circle--1 ease 1200ms infinite;
	/* animation: rotate 1s ease infinite; */
}

.container .box--container .box .circle--2 {
	background: limegreen;
	animation: circle--2 ease 1200ms infinite;
}
@keyframes circle--1 {
	0% {
		top: 50%;
	}
	50% {
		top: 120%;
	}
	100% {
		top: 50%;
	}
}
@keyframes circle--2 {
	0% {
		top: 50%;
	}
	50% {
		top: -50%;
	}
	100% {
		top: 50%;
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
