
.title{
    font-family: 'Press Start 2P', cursive;
    color: rgb(121, 201, 84);
    border-color: white;
}

.menu{
    background-color: lightblue;
    margin-top: 150px;
    text-align: center;
}

body{
    background-color: lightblue;
}

.level-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    width: 150px;
}